
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}


/*  nav styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px;
    
}

.nav-title{
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
}

.btn-primary {
    background-color: #4E47FF;
    color: white;
    /* height: 48px;
    width: 132px; */
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

/*  hero section styles */

.hero-section {
    text-align: center;
    /* margin-top: 309px; */
}

.hero-title {
    font-size: 65px;
    font-weight: 800;
    color: #252432;
    margin-top: 309px;
    /* margin-bottom: 100px; */
}

.bg-image {
    background-image: url('Assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
}

.btn-secondary {
    background-color: #4E47FF;
    color: white;
    /* height: 48px;
    width: 132px; */
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-bottom: 150px;
}