
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

/*  nav styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px;
    
}

.nav-title{
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
}

.btn-primary {
    background-color: #4E47FF;
    color: white;
    /* height: 48px;
    width: 132px; */
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: rgb(252, 233, 24);
    color: black;
}

/*  hero section styles */

.hero-section {
    text-align: center;
    /* margin-top: 309px; */
}

.hero-title {
    font-size: 65px;
    font-weight: 800;
    color: #252432;
    margin-top: 309px;
    /* margin-bottom: 100px; */
}

.bg-image {
    background-image: url('Assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
}

.btn-secondary {
    background-color: #4E47FF;
    color: white;
    /* height: 48px;
    width: 132px; */
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-bottom: 150px;
}

.btn-secondary:hover {
    background-color: rgb(252, 233, 24);
    color: black;
}

/* action style */

main {
    max-width: 1140px;
    margin: 0px 150px;
}

.action-banner {
    display: flex;
    justify-content: center;
    padding: 60px;
    gap: 200px;
    margin: 90px 0px;
}

.section-image-container .action-content-image {
    height: 328px;
    width: 403px;
    border-radius: 45px;
}

.action-content-title {
    font-size: 42px;
    font-weight: 800;
    color: #252432;
    margin-bottom: 23px;
}

.action-content-text {
    font-size: 24px;
    font-weight: 100;
    color: #252432;
    /* margin-top: 20px; */
    width: 517px;
    height: 60px;
    margin-bottom: 50px;
}

.action-content {
    align-items: left;
}


/* productive user section */


.productive-user-section {
    align-items: center;
    justify-content: center;
    background-color: rgba(78, 71, 255, 0.1);
    max-width: 1140px;
    height: 370px;
    border-radius: 24px;
    /* margin: 0px 150px; */
    margin-left: 175px;
    margin-bottom: 90px;
    padding-top: 20px;
}

.productive-user {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* display: flex; */
    /* margin: 50px 0px; */
}

.action-content-title{
    display: flex;
    justify-content: center;
    /* margin-top: 50px; */
}

.productive-user-all{
    display: flex;
    justify-content: space-around;

}

.productive-user-title{
    font-size: 80px;
    font-weight: 800;
    color: #4E47FF;
    margin-bottom: 10px;
}

.productive-user-subtitle{
    font-size: 20px;
    font-weight: 200;
    color: rgba(0, 0, 0, 0.5);
    /* margin-bottom: 50px; */
}


/* get in touch section */

.form-left-column{
    font-size: 97px;
    font-weight: 800;
    color: #000000;
    align-items: center;
}

.get-in-touch-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 150px;
    gap: 115px;
}

.form-colomn{
    width: 50%;
    align-items: center;
}

.form input[type="text"]{
    height: 70px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #D6DDED;
    display: block;
}


.form input[type="email"]{
    height: 70px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #D6DDED;
    display: block;
}

.form input[type="textarea"]{
    height: 135px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #D6DDED;
    display: block;
}

.btn-secondary-1 {
    background-color: #4E47FF;
    color: white;
    /* height: 48px;
    width: 132px; */
    padding: 19px 310px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 150px;
}

.btn-secondary-1:hover {
    background-color: rgb(252, 233, 24);
    color: black;
}


/* footer styles */


.footer-title{
    font-size: 100px;
    font-weight: 800;
    color: #4E47FF;
    margin-bottom: 20px;
    text-align: center;
}

.footer-text{
    font-size: 16px;
    font-weight: 200;
    color: rgba(137, 135, 161, 1);
    margin-bottom: 50px;
    width: 531px;
    height: 48px;
    /* justify-content: center; */
    text-align: center;
}
.footer-directories {
    width: 401px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: rgba(137, 135, 161, 1);
    font-size: 16px;
    font-weight: 200;    
    align-items: center;
    margin: auto;
    margin-bottom: 75px;

}

.footer-link {
    color: rgba(137, 135, 161, 1); /* Your desired color */
    text-decoration: none;         /* Removes underline */

}

footer {
    background-color: #FFFFFF;
    padding: 50px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* review section */

.review{
    max-width: 1140px;
    align-items: center;
    margin: 0px 175px;

}

.review-title{
    font-size: 42px;
    font-weight: 800;
    color: #252432;
    text-align: center;
    margin-bottom: 50px;
}

.reviewer-title{
    font-size: 24px;
    font-weight: 600;
    color: #252432;
    margin-bottom: 10px;
}

.reviewer-text{
    font-size: 16px;
    font-weight: 200;
    color: #252432;
    margin-bottom: 20px;
}

.face{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.reviewer-name{
    font-size: 14px;
    font-weight: 500;
    color: #252432;
    margin-bottom: 5px;
}

.review-date{
    font-size: 12px;
    font-weight: 400;
    color: rgba(37, 36, 50, 0.5);
    margin-bottom: 20px;
}

.reviewer-details-photo{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
}

.review-container{
    /* width: 367px;
    height: 243px; */
    border-radius: 14px;
    box-shadow: #000000;
    padding: 24px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.master-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 0px 175px;
}